
<div class="smartphone_headerContainer">
   <div class="firstRowHeader">
      <div class="headerTitle">Capstone Project</div>
      <form class="searchBarContainer">
         <input type="search" placeholder="Search blog...." class="form-control">
         <button><i class="bi bi-search"></i></button>
      </form>
   </div>  
   <ul class="secondRowHeader">
      <li class="headerListItem"><a href="/index.ejs"><i class="bi bi-house-fill"></i></a></li>
      <a class="headerListItem"><a href="/view_blogs.ejs"></a><i class="bi bi-book-fill"></i></a></li>
      <a class="headerListItem"><a href="/write_blog.ejs"></a><i class="bi bi-pen-fill"></i></a></li>
   </ul>
</div>


<div class="tablet_headerContainer">
     <div class="headerTitle">Capstone Project</div>
     <form class="searchBarContainer">
         <input type="search" placeholder="Search blog...." class="form-control">
         <button id="magnifyGlassIcon"><i class="bi bi-search"></i></button>
     </form>
     
     <ul class="headerListContainer">
        <li class="headerListItem">Home</li>
        <li class="headerListItem">View Blogs</li>
        <li class="headerListItem">Create Blog</li>
     </ul>
</div>
