<%- include("partials/header.ejs") %>

        <div class="bodyContainer" id="writeBlog">
                <h3>Type your blog</h3>
                <form action="/write_blog" method="POST">
                        <div>
                                <label for="title">Title:</label></br>
                                <input type="text" name="title" class="form-control"/>
                        </div>
                        <div>
                                <label for="title">Blog:</label></br>
                                <textarea name="blog" rows="8" class="form-control"></textarea>
                        </div>  
                        <div>
                                <input type="submit" value="POST BLOG"/>
                        </div>
                </form>
        </div>

<%- include("partials/footer.ejs") %>